[submodule "platform/xmega/xmega-libraries"]
	path = platform/xmega/xmega-libraries
	url = git@bitbucket.org:buq2/xmega-libraries.git
[submodule "platform/xmega/lufa_library"]
	path = platform/xmega/lufa_library
	url = https://github.com/abcminiuser/lufa.git
